import(grid, foreign, ggplot2, lattice, reshape2)

export(yourcast, yourprep, 
       user.prompt, histograph, 
       lifetable, array.yourcast)
 
S3method(plot, yourcast)
S3method(summary, yourcast)
S3method(print, yourcast)
S3method(print, yourprep)
S3method(print, summary.yourcast)








